header{
    background-color: #E8C2D0;
    border: 1px black solid;
}

.Post-1{
    border: 1px black solid;
    margin: 10px 0;
    padding: 5px;
    background-color: #E8C2D0;
    
}
#Container{
    margin: 0 100px;
    background-image: url(picture/little_ponny.jpg);
    background-size: 20%;
}
h1{
    margin: 0 100px;
}
input{
    color: blue;
}
button{
    font-size: 19px;
    padding: 5px;
    background-color: #E8C2D0;
}
textarea{
    width: 100%;
}